@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Antioquia, Medellin<br />
    312 2990 350
    Orlando Morales
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">OrlandoMoralesBenedetty@gmail.com</a><br />
</address>